.custom-select-image-type .csf--sibling.csf--image {
    width: 18%;
    margin: 0 20px 6px 0;
}
.notice-admin-banenr-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 44px;
}

.notice-admin-banenr-wrapper .notice-banner-left span {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px;
}

.notice-admin-banenr-wrapper .notice-banner-left h2 {
    font-size: 35px;
    line-height: 45px;
    margin: 15px 0;
    padding: 0;
}

.notice-admin-banenr-wrapper .notice-banner-left p {
    font-size: 16px;
    margin: 15px 0;
    max-width: 69%;
}
.notice-admin-banenr-wrapper .notice-banner-right img {
    width: 65%;
    text-align: right;
}

.notice-banner-right {
    text-align: right;
}
.banner-button {
    gap: 10px;
    display: flex;
}
.banner-button a.btn {
    display: block;
    padding: 14px 20px;
    background-color: #f318b7;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    transition: .4s;
}

.banner-button a.btn:hover {
    background-color: #0f1424;
}
.wrap.fs-section .nav-tab-wrapper .nav-tab {
    display: none;
}

.wrap.fs-section .nav-tab-wrapper .nav-tab.glamer-theme {
    display: inline-block;
}

.glamer-purchase-button-csf {
    font-size: 15px;
    font-weight: 500;
    color: #bf0bb8;
}

.glamer-purchase-button-csf a {
    background: #2192e7;
    padding: 5px;
    clear: both;
    color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 13px;
    font-weight: normal;
}
@media (max-width: 1400px) {
  .glamer-admin-banner-box{
      display: none;
  }
}