---
layout: default
title: {{ page.category }}
---

<div class="max-w-[1200px] mx-auto mt-8">
  <h1 class="font-montserrat font-extrabold text-2xl text-black mb-4 border-b border-black pb-1">{{ page.category | upcase }}</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for post in site.categories[page.category] %}
      <article class="bg-white border border-black rounded-2xl p-4">
        <img
          src="{{ post.image }}"
          alt="{{ post.title }}"
          class="rounded-2xl w-full h-[200px] object-cover border border-black mb-4"
          height="200"
          width="300"
        />
        <header
          class="flex items-center text-[10px] font-bold text-black mb-3 gap-2 flex-wrap"
        >
          <div class="flex items-center gap-1">
            <i class="fas fa-clock text-[10px]"></i>
            <span>{{ post.date | date: "%d %b, %Y" }}</span>
          </div>
          <span class="border-l border-black h-3"></span>
          <div class="flex items-center gap-1">
            <i class="fas fa-user"></i>
            <span>BY PIXELWITCH</span>
          </div>
          <span class="border-l border-black h-3"></span>
          <div>{{ post.category }}</div>
        </header>
        <h2 class="font-montserrat font-extrabold text-lg leading-tight mb-2">
          <a href="{{ post.url }}" class="text-black hover:text-yellow-400">
            {{ post.title }}
          </a>
        </h2>
        <p class="text-[11px] text-gray-500 mb-4 leading-tight">
          {{ post.excerpt }}
        </p>
        <a
          href="{{ post.url }}"
          class="bg-[#f0c36d] text-black font-montserrat font-bold text-xs rounded-md py-2 px-4 w-max border border-black hover:bg-yellow-400 transition no-underline"
          >READ DETAILS</a
        >
      </article>
    {% endfor %}
  </div>
</div>
